<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undangan V2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../../asset/css/undangan-v2/index.css">
<style>
    

</style>
</head>
<body class="color-bg">
    <audio hidden autoplay loop>
        <source src="../../../asset/audio/Beautiful In White.mp3" type="audio/mp3">
    </audio>

    <main id="undangan-v2" class="mx-auto w-full md:w-3/4 lg:w-2/4 xl:w-1/3">
        <div id="undangan-v2-content" class="w-full h-screen relative">
            <img src="../../../asset/img/undangan-v2/long_top_left.png" class="w-40" alt="">
            <div class="w-full flex place-content-center absolute top-36">
                <div class="w-28 h-28 italianno-regular relative">
                    <span class="text-4xl absolute top-0 left-0">G</span>
                    <span class="text-4xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">&</span>
                    <span class="text-4xl absolute bottom-0 right-0">R</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>