@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-c1: #8CACFF;
    --color-c2: #FCBA1C;
    --color-c3: #274161;
    --color-c4: #799df7;
}

.nunito{
  font-family: "Nunito", system-ui;
}

.italianno-regular {
  font-family: "Italianno", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bg-color-c1 {
    background-color: var(--color-c1);
}

.bg-color-c3 {
    background-color: var(--color-c3);
}

.bg-color-c4{
    background-color: var(--color-c4);
}

.border-kuning{
    border-color: var(--color-c2);
}