@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --bg-coklat: #8B4513;
    --bg-semu-kuning: #FFE799;
    --bg-semu-kuning-v2: #FAF3E0;
    --bg-kuning-gold: #C29C20;
    --bg-hitam-muda: #60605F;

}

.poppins{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.bg-coklat{
    background-color: var(--bg-coklat);
}
.bg-semu-kuning{
    background-color: var(--bg-semu-kuning);
}
.bg-semu-kuning-v2{
    background-color: var(--bg-semu-kuning-v2);
}
.bg-kuning-gold{
    background-color: var(--bg-kuning-gold);
}
.bg-hitam-muda{
    background-color: var(--bg-hitam-muda);
}
.active-menu{
    border-bottom: 4px solid var(--bg-coklat);
}

.border-b-coklat{
    border-bottom: 1px solid rgba(139, 69, 19, 0.5);
}

.text-coklat{
    color: var(--bg-coklat);
}

.border-coklat{
    border: 3px solid var(--bg-coklat);
}