<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wedding</title>
  <link rel="stylesheet" href="../../asset/css/undangan-v6/main.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/0a267e6f70.js" crossorigin="anonymous"></script>
</head>
<body class="bg-color-c4">
    <main class="w-full min-[768px]:w-3/4 min-[1024px]:w-1/2 mx-auto relative h-screen bg-color-c1">
        <img src="../../asset/img/undangan-v6/bunga-kanan-atas.png" class="absolute top-0 right-0 z-10 w-52 max-[426px]:w-44" alt="" srcset="">
        <div class="w-4/5 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white border-4 border-kuning rounded-xl max-[375px]:p-10 min-[376px]:p-12 min-[431px]:p-14 min-[768px]:p-16">
            <div>
               <h3 class="nunito text-center font-semibold text-xl py-6">The Wedding Of</h3>
               <div class="italianno-regular text-6xl flex flex-col text-center max-[320px]:py-0">
                  <span>Dimas</span>
                  <span>& Siska</span>
               </div>
               <div class="nunito text-center font-bold text-xl flex flex-col max-[426px]:py-3 max-[320px]:text-md">
                 <span>Save The Date</span>
                 <span>10 . 09 . 2024</span>
               </div>
               <div class="nunito text-center font-normal text-xl flex flex-col max-[320px]:py-0 max-[426px]:text-sm max-[431px]:py-4 min-[768px]:py-5 min-[768px]:text-md">
                 <span>Kepada Yth;</span>
                 <span>Bapak/Ibu/Saudara/i</span>
               </div>
               <div class="nunito text-center font-semibold flex flex-col max-[320px]:mt-3">
                 <span class="text-xl max-[320px]:text-lg">Tamu Undangan</span>
                 <a href="content/index.html"><button class=" px-2 py-1  text-white mx-auto bg-color-c3 mt-2 rounded-md"><i class="fa-regular fa-envelope"></i> Buka Undangan</button></a>
               </div>
            </div>
        </div>
        <img src="../../asset/img/undangan-v6/bunga-kiri-bawah.png" class="absolute bottom-0 left-0 w-52 max-[426px]:w-44" alt="" srcset="">
    </main>
</body>
</html>