<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Christmast Party</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="../../asset/css/undangan-v10/main.css">

    <script src="https://kit.fontawesome.com/0a267e6f70.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>

    <div class="row col-12 col-md-4 mx-auto">
        <div class="cover align-items-start justify-content-center d-flex">            
            <img data-aos="zoom-in-up" data-aos-duration="3000" src="../../asset/img/undangan-v10/item-1.png" class="item-image-1" alt="">
        
            <div class="cover-content text-center p-2 py-4" data-aos="zoom-in-up" data-aos-duration="3000">
                <p>You Are Invited To</p>
                <h3>Christmas Celebration 2024</h3>
                <p class="date">25 December</p>
                <p class="time">05 pm - 11 pm</p>
                <p class="addres">Our Office, Simatupang Building at Melati St. No. 45, Yogyakarta City</p>
                <a href="content/index.html" class="btn btn-sm">View invitation</a>
            </div>

            <div class="hujan">
                <img src="../../asset/img/undangan-v10/item-7.png" alt="">
                <img src="../../asset/img/undangan-v10/item-7.png" alt="">
                <img src="../../asset/img/undangan-v10/item-7.png" alt="">
                <img src="../../asset/img/undangan-v10/item-7.png" alt="">
                <img src="../../asset/img/undangan-v10/item-7.png" alt="">
                <img src="../../asset/img/undangan-v10/item-7.png" alt="">
                <img src="../../asset/img/undangan-v10/item-7.png" alt="">
              </div>
            </div>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="../../asset/js/undangan-v10/script.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>