<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wedding</title>
  <link rel="stylesheet" href="../../../asset/css/undangan-v6/main.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/0a267e6f70.js" crossorigin="anonymous"></script>
</head>
<body class="bg-color-c4">
    <section class="w-full min-[768px]:w-3/4 min-[1024px]:w-2/5 mx-auto relative h-screen bg-color-c1 text-c5">
        <img src="../../../asset/img/undangan-v6/bunga-kanan-atas.png" class="absolute top-0 right-0 z-10 w-52 max-[320px]:w-28 max-[426px]:w-40 max-[376px]:w-36" alt="" srcset="">
        <div class="w-4/5 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white border-4 text-center border-kuning rounded-xl max-[376px]:p-10 min-[376px]:p-12 min-[431px]:p-14 min-[768px]:p-16 min-[1024px]:p-10 min-[1440px]:py-24">
            <div class="py-4">
               <h3 class="italianno-regular text-center font-normal text-6xl max-[426px]:text-5xl py-6">Dimas &  Siska</h3>
               <span class="max-[376px]:text-sm">Di antara tanda-tanda (kebesaran)-Nya ialah bahwa Dia menciptakan pasangan-pasangan untukmu dari (jenis) dirimu sendiri agar kamu merasa tenteram kepadanya. Dia menjadikan di antaramu rasa cinta dan kasih sayang. Sesungguhnya pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir.</span>
            </div>
            <span class="mt-8">(Ar-Rum: 21)</span>
        </div>
        <img src="../../../asset/img/undangan-v6/bunga-kiri-bawah.png" class="absolute  z-10 bottom-0 left-0 w-52 max-[320px]:w-28 max-[426px]:w-40 max-[376px]:w-36" alt="" srcset="">
    </section>
    <section class="w-full min-[768px]:w-3/4 min-[1024px]:w-2/5 mx-auto w- relative h-screen bg-color-c1 text-c5">
        <img src="../../../asset/img/undangan-v6/bunga-kanan-atas.png" class="absolute top-0 right-0 z-10 w-52 max-[320px]:w-28 max-[426px]:w-40 max-[376px]:w-36" alt="" srcset="">
        <div class="w-4/5 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white border-4 text-center border-kuning rounded-xl max-[376px]:p-10 min-[376px]:p-12 min-[431px]:p-14 min-[768px]:p-16 min-[1024px]:p-10 min-[1440px]:py-24">
            <div class="py-4">
               <h3 class="nunito text-center font-normal text-lg py-6">بِسْمِ اللّهِ الرَّحْمَنِ الرَّحِيْمِ</h3>
               <div class="flex flex-col cormorant-infant gap-3 mb-3">
                   <span class="font-semibold">Assalamu'alaikum Warahmatullahi Wabarakatuh</span>
                   <span class="text-xl max-[426px]:text-base">Maha suci Allah SWT, yang telah menciptakan makhluk-Nya berpasang-pasangan, Ya Allah, dengan kerendahan hati, perkenankanlah kami menikahkan putri-putri kami:</span>
                </div>
                <div class="flex justify-around mt-6">
                    <img src="../../../asset/img/undangan-v6/cfe3b36dcade6aea13c33ed9ee6a4e25.jpeg" alt="" srcset="" class="w-28 h-28 overflow-hidden object-cover rounded-full">
                    <img src="../../../asset/img/undangan-v6/cfe3b36dcade6aea13c33ed9ee6a4e25.jpeg" alt="" srcset="" class="w-28 h-28 overflow-hidden object-cover rounded-full">
                </div>
                <div class="dlex flex flex-col">
                    <span class="arizonia text-3xl">Sasha Dwi Azizah</span>
                    <span class="italianno-regular">Putri dari Bapak Joko Nurhadi dan Ibu Dewi </span>
                    <a href=""><button class="px-3 py-1 text-white rounded-xl bg-color-c3">@sashadw__</button></a>
                    <span class="arizonia py-6 text-3xl">dengan</span>
                    <span class="arizonia text-3xl">Rizki Pratama</span>
                    <span class="italianno-regular">Putra dari  Bapak Ahmad Pratama dan Ibu Siti Aisyah </span>
                    <a href=""><button class="px-3 py-1 text-white rounded-xl bg-color-c3">@rizkiprtma__</button></a>
                </div>
            </div>
        </div>
        <img src="../../../asset/img/undangan-v6/bunga-kiri-bawah.png" class="absolute bottom-0 left-0 w-52 max-[320px]:w-28 max-[426px]:w-40 max-[376px]:w-36" alt="" srcset="">
    </section>
</body>
</html>