<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undangan V2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../asset/css/undangan-v2/index.css">
</head>
<body class="color-bg">
    <main id="undangan-v2" class="mx-auto w-full md:w-3/4 lg:w-2/4 xl:w-1/3">
        <div id="undangan-v2-cover" class="w-full h-screen relative">
            <div class="absolute top-0 w-full flex justify-between">
                <img src="../../asset/img/undangan-v2/Floral_Element_left.png" class="w-32 sm:w-56 md:w-52" alt="" srcset="">
                <img src="../../asset/img/undangan-v2/Floral_Element_right.png" class="w-32 sm:w-56 md:w-52" alt="" srcset="">
            </div>
            <div class="relative w-full top-32">
                <img src="../../asset/img/undangan-v2/Circle.png" alt="" class="mx-auto w-64 sm:w-72" srcset="">
                <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
                    <p class="italianno-regular text-4xl">Galih</p>
                    <p class="italianno-regular text-4xl">&</p>
                    <p class="italianno-regular text-4xl">Ratna</p>
                </div>
            </div>
            <div class="relative top-36 text-center">
                <div class="flex flex-col">
                    <span>Kepada Yth:</span>
                    <span>Bapak/Ibu/Saudara / i</span>
                </div>
                <div class="flex flex-col mt-4 gap-2">
                    <p class="font-bold">Nama Tamu</p>
                    <a href="content/index.html">
                        <button class="color-buka flex place-items-center gap-1 mx-auto py-2 px-4 text-white rounded-lg">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 6.10043C2 5.86819 2.12087 5.65268 2.31903 5.53158L6.43565 3.01587C7.39599 2.42899 8.60401 2.429 9.56435 3.01587L13.6809 5.53158C13.8791 5.65268 14 5.86819 14 6.10043V12.7265C14 13.0947 13.7015 13.3932 13.3333 13.3932H2.66667C2.29848 13.3932 2 13.0947 2 12.7265V6.10043Z" stroke="white" stroke-linecap="round"/>
                                <path d="M2 6.39319L6.43565 9.10386C7.39599 9.69074 8.60401 9.69074 9.56435 9.10386L14 6.39319" stroke="white" stroke-linecap="round"/>
                            </svg>
                            Buka Undangan
                        </button>
                    </a>
                </div>
            </div>
            <div class="absolute bottom-0 w-full flex justify-between">
                <img src="../../asset/img/undangan-v2/Floral_Element_bottom_left.png" class="w-36 sm:w-56 md:w-52" alt="" srcset="">
                <img src="../../asset/img/undangan-v2/Floral_Element_bottom_right.png" class="w-36 sm:w-56 md:w-52" alt="" srcset="">
            </div>
        </div>
    </main>
</body>
</html>