<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../asset/css/content/main.css">

    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/0a267e6f70.js" crossorigin="anonymous"></script>

    <!-- aos -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <audio hidden autoplay loop>
        <source src="../asset/audio/akad-payungteduh.mp3" type="audio/mp3">
    </audio>
    
    <div class="row mx-auto p-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
            <div class="row col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 mx-auto p-0">
                <div class="col-12 col-sm-12 col-md-12 p-0">
                    <div class="content">
                        <img src="../asset/img/item-1.png" class="item-1" alt="">
                        <img src="../asset/img/item-2.png" class="item-2" alt="">
                        <img src="../asset/img/item-3.png" class="item-3" alt="">
                        <img src="../asset/img/item-4.png" class="item-4" alt="">

                        <div class="row home-page align-items-center justify-content-center">
                            <img src="../asset/img/gunungan.png" data-aos="zoom-in-down" data-aos-duration="3000" alt="">

                            <div class="home-page-content text-center p-3">
                                <h2 class="mt-4" data-aos="zoom-in-up" data-aos-duration="2000">Bagus & Hadaya</h2>
                                <p class="mt-4" data-aos="zoom-in-up" data-aos-duration="2000">Kami akan menikah, <br> dan kami ingin Anda menjadi bagian dari hari istimewa kami!</p>

                                <p class="mt-4" data-aos="zoom-in-up" data-aos-duration="2000">Selasa, 27 Agustus 2024</p>

                                <!-- <span class="spasi">......</span> -->

                                <div class="agenda mt-4">
                                    <span id="days" data-aos="zoom-in-right" data-aos-duration="2000">07 Hari</span>
                                    <span id="hours" data-aos="zoom-in-right" data-aos-duration="2000">24 Jam</span>
                                    <span id="minutes" data-aos="zoom-in-left" data-aos-duration="2000">30 Menit</span>
                                    <span id="seconds" data-aos="zoom-in-left" data-aos-duration="2000">60 Detik</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 p-0">
                    <div class="content">
                        <img src="../asset/img/item-1.png" class="item-1" alt="">
                        <img src="../asset/img/item-2.png" class="item-2" alt="">
                        <img src="../asset/img/item-3.png" class="item-3" alt="">
                        <img src="../asset/img/item-4.png" class="item-4" alt="">

                        <div class="about-content text-center p-5">
                            <h2 data-aos="zoom-in-up" data-aos-duration="2000">Assalamualaikum Wr. Wb.</h2>
                            <p data-aos="zoom-in-up" data-aos-duration="2000">Maha Suci Allah yang telah menciptakan makhluk-Nya berpasang-pasangan. Ya Allah semoga ridho-Mu tercurah mengiringi pernikahan kami</p>

                            <div class="content-person mt-5">
                                <div class="d-flex justify-content-center mb-5 gap-3" data-aos="zoom-in-left" data-aos-duration="2000">
                                    <div class="about-img">
                                        <img src="../asset/img/bagus.jpg" alt="">
                                    </div>
                                    <div class="about">
                                        <h2>Rizqy Bagus Saputra</h2>
                                        <span>Putra Bapak Tri H dan Ibu Alfiah N.H</span>
                                    </div>
                                </div>
    
                                <div class="d-flex justify-content-center gap-3" data-aos="zoom-in-right" data-aos-duration="2000">
                                    <div class="about">
                                        <h2>Rizqy Bagus Saputra</h2>
                                        <span>Putra Bapak Tri H dan Ibu Alfiah N.H</span>
                                    </div>
                                    <div class="about-img">
                                        <img src="../asset/img/bagus.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <!-- java script -->
    <script src="../asset/js/content/script.js"></script>

    <!-- aos -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>