<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="../../../asset/css/undangan-v5/main.css">

    <script src="https://kit.fontawesome.com/0a267e6f70.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <audio hidden autoplay loop>
        <source src="../../../asset/audio/I Like You So Much Youll Know It.mp3" type="audio/mp3">
    </audio>

    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
      <div class="cover align-items-center justify-content-center d-flex">
        <img data-aos="fade-down-right" data-aos-duration="2000" src="../../../asset/img/undangan-v5/item-1.png" class="item-image-1" alt="">
        <img data-aos="fade-down-left" data-aos-duration="2000" src="../../../asset/img/undangan-v5/item-2.png" class="item-image-2" alt="">
        <img src="../../../asset/img/undangan-v5/item-4.png" class="item-image-4" alt="">
        <img src="../../../asset/img/undangan-v5/item-5.png" class="item-image-5" alt="">

        <div class="tentang-content text-center p-2" data-aos="zoom-in-up" data-aos-duration="3000">
            <h3 class="mb-4">Assalamualaikum Wr. Wb.</h3>
            <p>Tanpa mengurangi rasa hormat kami bermaksud mengundang Bapak/Ibu/Saudara/i pada acara syukuran khitan anak kami:</p>
            <img data-aos="flip-left" data-aos-duration="3000" src="../../../asset/img/undangan-v5/people.jpg" class="tentang-image mb-4" alt="">

            <h4>Raden Adhitama</h4>

            <p>Putra Bapak Sugeng dan Ibu Tri Rahayu</p>
        </div>
      </div>
    </div>

    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
      <div class="cover align-items-center justify-content-center d-flex">
        <img data-aos="fade-down-right" data-aos-duration="2000" src="../../../asset/img/undangan-v5/item-1.png" class="item-image-1" alt="">
        <img data-aos="fade-down-left" data-aos-duration="2000" src="../../../asset/img/undangan-v5/item-2.png" class="item-image-2" alt="">
        <img src="../../../asset/img/undangan-v5/item-4.png" class="item-image-4" alt="">
        <img src="../../../asset/img/undangan-v5/item-5.png" class="item-image-5" alt="">

        <div class="acara-content text-center p-2">
            <h3 data-aos="zoom-in-up" data-aos-duration="3000" class="mb-4">Walimatul  Khitan</h3>
            <p data-aos="zoom-in-up" data-aos-duration="3000" class="fw-bold">Insya allah akan di laksanakan pada:</p>
            
            <div class="countdown">
                <span class="time-box"  data-aos="zoom-out-right" data-aos-duration="3000">
                  <span class="time" id="days">0</span>
                  <span class="label">Hari</span>
                </span>
                <span class="time-box" data-aos="zoom-in-down" data-aos-duration="3000">
                  <span class="time" id="hours">0</span>
                  <span class="label">Jam</span>
                </span>
                <span class="time-box" data-aos="zoom-in-down" data-aos-duration="3000">
                  <span class="time" id="minutes">0</span>
                  <span class="label">Menit</span>
                </span>
                <span class="time-box" data-aos="zoom-out-left" data-aos-duration="3000">
                  <span class="time" id="seconds">0</span>
                  <span class="label">Detik</span>
                </span>
              </div>

            <h4 data-aos="zoom-in-up" data-aos-duration="3000">Minggu, 15 September 2024</h4>

            <p data-aos="zoom-in-up" data-aos-duration="3000">Pukul : 10.00 WIB s/d Selesai</p>

            <p data-aos="zoom-in-up" data-aos-duration="3000">Dukuh sendangrejo, Desa Kalinanas Rt 006/Rw 003 Kec. Japah, Kab. Blora, Jawa Tengah</p>

            <iframe data-aos="zoom-in-up" data-aos-duration="3000" class="mb-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.772680752605!2d109.24018927357322!3d-7.379354272630928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e655f0339a721f9%3A0xb01aeec6c163775e!2sHugo%20Studio%20Purwokerto%20by%20Anton%20Group!5e0!3m2!1sid!2sid!4v1725269277626!5m2!1sid!2sid" width="80%" height="auto" style="border-radius:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <a data-aos="zoom-in-up" data-aos-duration="3000" href="https://maps.app.goo.gl/Rg2e7h1M5bgcR8ux6" class="btn"><i class="fa-solid fa-location-dot"></i> Lihat lokasi</a>
        </div>
      </div>
    </div>

    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
      <div class="cover align-items-center justify-content-center d-flex">
        <img data-aos="fade-down-right" data-aos-duration="2000" src="../../../asset/img/undangan-v5/item-1.png" class="item-image-1" alt="">
        <img data-aos="fade-down-left" data-aos-duration="2000" src="../../../asset/img/undangan-v5/item-2.png" class="item-image-2" alt="">
        <img src="../../../asset/img/undangan-v5/item-4.png" class="item-image-4" alt="">
        <img src="../../../asset/img/undangan-v5/item-5.png" class="item-image-5" alt="">

        <div class="tanda-content text-center p-2" data-aos="zoom-in-up" data-aos-duration="3000">
            <h3 class="mb-4" data-aos="zoom-in-up" data-aos-duration="3000">Tanda Kasih</h3>
            <p data-aos="zoom-in-up" data-aos-duration="3000">Terima kasih atas kehadiran dan hadiah indah Anda. Kehadiran Anda membuat acara khitan kami semakin istimewa. Semoga doa dan dukungan Anda selalu membawa berkah</p>
            
            <div data-aos="flip-right" data-aos-duration="3000" class="tanda-ucapan mx-auto mb-5 mt-5"></div>

            <a data-aos="zoom-in-up" data-aos-duration="3000" href="#" class="btn"><i class="fa-regular fa-pen-to-square"></i> Kirim ucapan</a>
        </div>
      </div>
    </div>

    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
      <div class="cover align-items-center justify-content-center d-flex">
        <img data-aos="fade-down-right" data-aos-duration="2000" src="../../../asset/img/undangan-v5/item-1.png" class="item-image-1" alt="">
        <img data-aos="fade-down-left" data-aos-duration="2000" src="../../../asset/img/undangan-v5/item-2.png" class="item-image-2" alt="">
        <img src="../../../asset/img/undangan-v5/item-4.png" class="item-image-4" alt="">
        <img src="../../../asset/img/undangan-v5/item-5.png" class="item-image-5" alt="">

        <div class="close-content text-center p-2" data-aos="zoom-in-up" data-aos-duration="3000">
            <img data-aos="flip-left" data-aos-duration="3000" src="../../../asset/img/undangan-v5/people.jpg" class="mb-5" alt="">

            <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami sekeluarga jika Bapak/Ibu/Saudara/i berkenan hadir, sekaligus memberikan doa restu kepada putra kami</p>

            <p><i>Hormat Kami Yang Mengundang</i></p>

            <p class="fw-bold">Putra Bapak Sugeng dan Ibu Tri Rahayu</p>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="../../../asset/js/undangan-v5/script.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
 </body>
</html>