<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undangan Khitan</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../asset/css/undangan-v11/content.css">
</head>

<body>
    <audio hidden autoplay loop>
        <source src="../../../asset/audio/Padang Bulan - Taman Siswa Yogyakarta.mp3" type="audio/mp3">
    </audio>
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto bg-white">
        <div class="absolute top-0 w-full flex justify-between p-0">
            <img src="../../../asset/img/undangan-v11/2.png" class="w-32" alt="" srcset="" data-aos="zoom-in">
            <div class="cover-content text-center p-10" data-aos="zoom-in-up" data-aos-duration="3000">
                <h2 class="info">Dengan memohon Rahmat dan Ridho Allah SWT 
                    <br>kami mengundang Bapak/Ibu/Saudara/i untuk
                    menghadiri Khitanan putra kami</h2>
                <br>
                <h2 class="subtitle">Abdul Khoir S.</h2>
                <p class="info">Anak dari bapak sulaiman S.</p>
                <div class="profile-container">
                    <img src="../../../asset/img/undangan-v11/ForgetMeNot 1.png" alt="flower" class="layer-3">
                    <img src="../../../asset/img/undangan-v11/circle.png" alt="frame" class="layer-2">
                    <img src="../../../asset/img/undangan-v11/user.jpg" class="profile-image layer-1" alt="">
                </div>
                <p class="info-laksana">InyaaAllah dilaksanakan pada :</p>
            </div>

            <div class="event-details">
                <div class="event-item">
                    <div class="event-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                            <path
                                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </div>
                    <div class="event-info">
                        <p class="event-date">15 Juni, 2024</p>
                        <p class="event-time">Jumat, 19:00 – 21:00 WIB</p>
                    </div>
                </div>

                <div class="event-item">
                    <div class="event-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                        </svg>
                    </div>
                    <div class="event-info">
                        <p class="event-location">Perumnas Ujung Pandan</p>
                        <p class="event-address">Jalan Akasia</p>
                    </div>
                </div>
            </div>

            <div class="cover-content text-center p-5" data-aos="zoom-in-up" data-aos-duration="3000">
                <p class="info">Atas kehadiran dan do'a restu Bapak/Ibu/Saudara/i kami ucapkan terima kasih</p>
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=yogyakarta,&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
                            href="https://sprunkin.com/">Sprunki</a></div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            width: 100%;
                            height: 400px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            width: 100%;
                            height: 400px;
                        }

                        .gmap_iframe {
                            height: 400px !important;
                        }
                    </style>
                </div>
            </div>

            <!-- gallery -->
            <p class="info" style="display: flex; justify-content: center;">Gallery kami</p>
            <div class="grid-container">
                <div class="grid-item">
                    <a href="../../../asset/img/undangan-v11/6.jpg" data-bs-target="#gallery1" data-bs-toggle="modal">
                        <img data-aos="fade-up-right" data-aos-duration="3000" src="../../../asset/img/undangan-v11/6.jpg"
                            class="w-100 shadow-1-strong rounded mb-4 aos-init aos-animate" alt="gallery 1">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="../../../asset/img/undangan-v11/5.jpg" data-bs-target="#gallery2" data-bs-toggle="modal">
                        <img data-aos="fade-up-right" data-aos-duration="3000" src="../../../asset/img/undangan-v11/5.jpg"
                            class="w-100 shadow-1-strong rounded mb-4 aos-init aos-animate" alt="gallery 2">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="../../../asset/img/undangan-v11/4.jpg" data-bs-target="#gallery3" data-bs-toggle="modal">
                        <img data-aos="fade-up-right" data-aos-duration="3000" src="../../../asset/img/undangan-v11/4.jpg"
                            class="w-100 shadow-1-strong rounded mb-4 aos-init aos-animate" alt="gallery 3">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="../../../asset/img/undangan-v11/11.png" data-bs-target="#gallery4" data-bs-toggle="modal">
                        <img data-aos="fade-up-right" data-aos-duration="3000" src="../../../asset/img/undangan-v11/11.png"
                            class="w-100 shadow-1-strong rounded mb-4 aos-init aos-animate" alt="gallery 4">
                    </a>
                </div>
            </div>

            <!-- modal gallery  -->
            <div id="gallery1" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img class="w-100 shadow-1-strong rounded mb-4" src="../../../asset/img/undangan-v11/6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="gallery2" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img class="w-100 shadow-1-strong rounded mb-4" src="../../../asset/img/undangan-v11/5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="gallery3" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img class="w-100 shadow-1-strong rounded mb-4" src="../../../asset/img/undangan-v11/4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="gallery4" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img class="w-100 shadow-1-strong rounded mb-4" src="../../../asset/img/undangan-v11/11.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../../asset/img/undangan-v11/1.png" class="w-32" alt="" srcset="">
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>